<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Diablo II Save File Generator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="webjars/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="webjars/jquery/3.0.0/jquery.min.js"></script>

    <script language="JavaScript">
        function checkQuest() {
            var checkboxes = document.querySelector('#questCheckBoxes');
            var quest = checkboxes.querySelectorAll('input[type="checkbox"]');
            for (let box of quest)
                box.checked = "checked";
        }
    </script>
</head>
<body>
    <div class="container">
        <h3>Save file options</h3>
        <form action="#" th:action="@{/}" th:object="${save}" method="post">
            <p class="alert alert-danger" th:if="*{invalidName}">
                Character name is invalid. It must be 2 to 15 characters long, must begin with a letter, and have up to either one dash or underscore.
            </p>

            <p class="alert alert-danger" th:if="*{invalidForClassic}">
                Invalid character class. The character may not be a Druid or Assassin in Diablo II classic.
            </p>

            <p class="alert alert-danger" th:if="*{invalidAct}">
                Invalid starting act. Act 5 does not exist in Diablo II classic.
            </p>

            <p class="alert alert-danger" th:if="*{invalidAncients}">
                Character level is too low to have completed Ancients for the specified difficulties.
            </p>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="charName">Character Name</label>
                    <input type="text" class="form-control" id="charName" aria-describedby="charHelp" placeholder="Up to 15 characters, no numbers" maxlength="15" th:field="*{name}">
                </div>

                <div class="form-group col-md-6">
                    <label for="charName">Character Level</label>
                    <input type="number" class="form-control" id="charLevel" aria-describedby="charHelp" min="1" max="99" th:field="*{level}">
                </div>
            </div>

            <div class="form-group">
                <label for="charClass">Character Class</label>
                <select class="form-control" id="charClass" th:field="*{classNum}">
                    <option value="0">Amazon</option>
                    <option value="6">Assassin</option>
                    <option value="4">Barbarian</option>
                    <option value="5">Druid</option>
                    <option value="2">Necromancer</option>
                    <option value="3">Paladin</option>
                    <option value="1">Sorceress</option>
                </select>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="gold">Gold</label>
                    <input type="number" class="form-control" id="gold" aria-describedby="charHelp" placeholder="Up to 10000 times character level" min="0" th:field="*{gold}">
                </div>

                <div class="form-group col-md-6">
                    <label for="stashedGold">Stashed Gold</label>
                    <input type="number" class="form-control" id="stashedGold" aria-describedby="charHelp" placeholder="Up to 2500000" min="0" max="2500000" th:field="*{stashGold}">
                </div>
            </div>

            <h4>Options</h4>
            <div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="expansion" th:field="*{expansion}">
                    <label class="form-check-label" for="expansion">
                        Expansion
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="hardcore" th:field="*{hardcore}">
                    <label class="form-check-label" for="hardcore">
                        Hardcore
                    </label>
                </div>
            </div>
            <br />

            <h4>Difficulty</h4>
            <div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="diffRadio" id="normalDifficulty" value="0" th:field="*{difficulty}">
                    <label class="form-check-label" for="normalDifficulty">
                        Normal
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="diffRadio" id="nightmareDifficulty" value="5" th:field="*{difficulty}">
                    <label class="form-check-label" for="nightmareDifficulty">
                        Nightmare
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="diffRadio" id="hellDifficulty" value="10" th:field="*{difficulty}">
                    <label class="form-check-label" for="hellDifficulty">
                        Hell
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="diffRadio" id="finishedHell" value="15" th:field="*{difficulty}">
                    <label class="form-check-label" for="finishedHell">
                        Completed Hell
                    </label>
                </div>
            </div>
            <br />

            <h4>Starting Act</h4>
            <div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="actRadio" id="act1" value="0" th:field="*{startingAct}">
                    <label class="form-check-label" for="act1">
                        Act 1
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="actRadio" id="act2" value="1" th:field="*{startingAct}">
                    <label class="form-check-label" for="act2">
                        Act 2
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="actRadio" id="act3" value="2" th:field="*{startingAct}">
                    <label class="form-check-label" for="act3">
                        Act 3
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="actRadio" id="act4" value="3" th:field="*{startingAct}">
                    <label class="form-check-label" for="act4">
                        Act 4
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="actRadio" id="act5" value="4" th:field="*{startingAct}">
                    <label class="form-check-label" for="act5">
                        Act 5
                    </label>
                </div>
            </div>
            <br />

            <h4>Quest Rewards (most rewards need to be redeemed manually)</h4>
            <a href="#" id="checkAll" onclick="checkQuest(); return false;">Check All</a>
            <div id="questCheckBoxes">
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="den" th:field="*{rewards.den}">
                        <label class="form-check-label" for="den">
                            Completed Den of Evil for Skill Point and Stats reset
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="imbue" th:field="*{rewards.imbue}">
                        <label class="form-check-label" for="imbue">
                            Returned Hordaric Malus
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="skillBook" th:field="*{rewards.skillBook}">
                        <label class="form-check-label" for="skillBook">
                            Defeated Radamant for Skill Point
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="goldenbird" th:field="*{rewards.potion}">
                        <label class="form-check-label" for="goldenbird">
                            Drank the Potion of Life
                        </label>
                    </div>
                </div>
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="lamEsen" th:field="*{rewards.lamEsen}">
                        <label class="form-check-label" for="lamEsen">
                            Completed Lam Esen's Tome for five attribute points
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="izual" th:field="*{rewards.izual}">
                        <label class="form-check-label" for="izual">
                            Defeated Izual for two skill points
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="socket" th:field="*{rewards.socket}">
                        <label class="form-check-label" for="socket">
                            Socket Reward from Larzuk
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="scroll" th:field="*{rewards.scroll}">
                        <label class="form-check-label" for="scroll">
                            Read the Scroll of Resistance
                        </label>
                    </div>
                </div>
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="nAncients" th:field="*{rewards.nAncients}">
                        <label class="form-check-label" for="nAncients">
                            Normal Ancients
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="nmAncients" th:field="*{rewards.nmAncients}">
                        <label class="form-check-label" for="nmAncients">
                            Nightmare Ancients
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="hAncients" th:field="*{rewards.hAncients}">
                        <label class="form-check-label" for="hAncients">
                            Hell Ancients
                        </label>
                    </div>
                </div>
            </div>
            <br />

            <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br />

        <h3>Disclaimer</h3>
        <p>This web application is for educational purposes only and is not meant for creating illegitimate save files. It was created to demonstrate a frontend and backend integration.</p>
    </div>
</body>
</html>
