/* Margin classes */
.formKeyLines {
  margin-bottom: 8px;
}

/* Container classes */
.container {
 width:100%;
 padding-right:15px;
 padding-left:15px;
 margin-right:auto;
 margin-left:auto
}
@media (min-width:576px) {
 .container {
  max-width:540px
 }
}
@media (min-width:768px) {
 .container {
  max-width:720px
 }
}
@media (min-width:992px) {
 .container {
  max-width:960px
 }
}
@media (min-width:1200px) {
 .container {
  max-width:1140px
 }
}

/* Grid classes */
.d2Grid {
  display: grid;
  grid-column-gap: 10px;
}

.entryGrid {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.itemSeparator {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-bottom: 32px;
}

.attrGrid, .questGrid {
  grid-template-columns: repeat(8, 1fr);
}

.questGrid {
  grid-template-rows: repeat(3, 1fr);
}

.skillGrid {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-auto-flow: column;
}

.dashboardGrid {
  grid-template-columns: repeat(6, 1fr);
}

.dashboardRow {
  grid-template-columns: repeat(10, 1fr);
}

/* Apply to all common form elements, only grid col number varies */
.entry, .attr_ui, .quest, .skill_ui {
  grid-column: span 2;
}

.dashboardItem {
  grid-column: span 3;
}

.dashboardOpt {
  grid-column: span 7;
}

#currType {
  grid-column: span 3;
}

#currSubType {
  grid-column: span 4;
}

#classUi, #dashboard {
  grid-column: span 4;
}

/* Storage grid classes */
.storageHeader {
  text-align: center;
  margin-bottom: 2rem;
}

.storageRow {
  display: flex;
  margin: 0px auto;
}

.storageInv {
  width: 280px;
}

.storageStash {
  width: 168px;
}

.storageBelt {
  width: 112px;
}

.storageCube {
  width: 84px;
}

.storageCell {
  width: 28px;
  height: 28px;
}

img {
  position: relative;
}

.pickedUpItem {
  width: 56px;
  height: 109px;
  margin: 0px auto;
}

/* Positioning classes based on item size */
.pickedUpImg {
  position: relative;
}

.pickedUp1x1 {
  top: 33%;
  left: 25%;
}

.pickedUp1x2 {
  top: 33%;
}

.pickedUp2x1 {
  top: 25%;
  left: 25%;
}

.pickedUp2x2 {
  top: 25%;
}

.pickedUp3x1 {
  top: 12%;
  left: 25%;
}

.pickedUp3x2 {
  top: 12%;
}

.pickedUp4x1 {
  left: 25%;
}

.pickedUp4x2 {
  top: -3%;
}
